// Colours
$black-primary: #151515;
$turquoise: #4EE1A0;
$dark-grey: #242424;
$light-grey: #D9D9D9;
$white: #FFFFFF;

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Space Grotesk', sans-serif;
}

img {
    max-width: 100%;
}

button {
    border: none;
    border-bottom: 3px solid $turquoise;
    background-color: transparent;
    color: $white;
    padding: 0.25rem 0;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;

    a {
        text-decoration: none;
        color: inherit;
    }
}

button:hover {
    color: $turquoise;
    cursor: pointer;
}

.container {
    background-color: $black-primary;
}

.navbar {
    padding: 1.25rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;

    .navbar-title {
        font-size: 1.5rem;
        text-decoration: none;
        color: $white;
    }

    .navbar-links {
        display: flex;
        gap: 1rem;

        .navbar-links__github img,
        .navbar-links__linkedin img {
            width: 20px;
            height: 20px;
        }
    }
}

.header {
    background-image: url('../assets/images/pattern-rings.svg');
    background-repeat: no-repeat;
    background-position: left -20rem top 2rem;
    padding: 15rem 1rem 5rem;
    height: calc(100vh - 116px);

    .header-content {
        text-align: center;

        .header-content__title {
            font-size: 2.5rem;
            color: $white;
            padding-bottom: 1.5rem;

            span {
                text-decoration: underline $turquoise;
            }
        }

        .header-content__about {
            font-size: 1rem;
            color: $light-grey;
            padding-bottom: 1.5rem;
        }
    }
}

.skills,
.projects,
.contact {
    padding: 2.5rem 1rem;

    .skills-title,
    .projects-title,
    .contact-title {
        font-size: 2.5rem;
        color: $white;
        padding-bottom: 2.5rem;
        text-decoration: underline 3px $turquoise;
        -webkit-text-decoration-line:  underline !important;
        -webkit-text-decoration-color: $turquoise !important;
        -webkit-text-decoration-style: solid !important;
        -webkit-text-decoration-thickness: 3px !important;
    }
}

.skills {
    background-image: url('../assets/images/pattern-rings.svg');
    background-repeat: no-repeat;
    background-position: right -20rem bottom 1rem;

    .skills-line-top {
        margin-bottom: 2.5rem;
    }

    .skills-line-bottom {
        margin: 2.5rem 0;
    }

    .skills-grid {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 3rem;
        text-align: center;

        .skills-grid__content {

            h3 {
                font-size: 2rem;
                color: $white;
            }

            p {
                font-size: 1rem;
                color: $light-grey;
            }
        }
    }
}

.projects {
    
    .projects-grid {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 4rem;
        text-align: left;

        .projects-grid__content {

            h3 {
                font-size: 1.5rem;
                color: $white;
                padding-top: 1rem;
            }

            p {
                font-size: 1.125rem;
                color: $light-grey;
                padding-bottom: 1rem;
            }

            .project-grid__buttons {
                display: flex;
                gap: 1rem;
            }
        }
    }
}

.contact {

    .contact-flex {
        display: flex;
        flex-direction: column;
        gap: 5rem;

        .contact-flex__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            i {
                color: $white;
            }

            p {
                color: $light-grey;
            }
        }
    }

    .copyright {
        text-align: center;
        padding-top: 5rem;
        color: $light-grey;
        font-size: 0.75rem;
    }
}

@media screen and (min-width: 730px) {
    button {
        padding: 0.5rem 0;
        letter-spacing: 2px;
    }

    .navbar {
        padding: 1.75rem;
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
    
        .navbar-title {
            font-size: 2rem;
        }
    
        .navbar-links {
            gap: 2rem;
    
            .navbar-links__github img,
            .navbar-links__linkedin img {
                width: 30px;
                height: 30px;
            }
        }
    }
    
    .header {
        background-position: left -20rem top 2rem;
        padding: 6rem 2rem 4rem;
        height: calc(100vh - 96px);
    
        .header-content {
            text-align: left;
    
            .header-content__title {
                font-size: 4.5rem;
                color: $white;
                padding-bottom: 4rem;
            }
    
            .header-content__about {
                font-size: 1.5rem;
                padding-bottom: 2.5rem;
                width: 70%;
            }
        }
    }
    
    .skills,
    .projects,
    .contact {
        padding: 3rem 2rem;
    
        .skills-title,
        .projects-title,
        .contact-title {
            font-size: 4.5rem;
            padding-bottom: 4rem;
        }
    }
    
    .skills {
        background-position: right -20rem bottom 1rem;
    
        .skills-line-top {
            margin-bottom: 2.5rem;
        }
    
        .skills-line-bottom {
            margin: 5rem 0 2.5rem;
        }
    
        .skills-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            row-gap: 3.5rem;
    
            .skills-grid__content {
    
                h3 {
                    font-size: 3rem;
                }
    
                p {
                    font-size: 1.2rem;
                }
            }
        }
    }
    
    .projects {
        
        .projects-grid {
            grid-template-columns: 1fr 1fr;
            row-gap: 5rem;
            column-gap: 2rem;
    
            .projects-grid__content {
                margin: auto;

                img {
                    width: 20rem;
                    height: 15rem;
                }
    
                h3 {
                    font-size: 1.75rem;
                    color: $white;
                    padding-top: 1rem;
                }
    
                p {
                    font-size: 1.125rem;
                    color: $light-grey;
                    padding-bottom: 1rem;
                }
            }
        }
    }

    .contact {

        .contact-flex {
            flex-direction: row;
            justify-content: center;
        }
    }
}

@media screen and (min-width: 992px) {
    button {
        padding: 1rem 0;
        font-size: 1.2rem;
        letter-spacing: 2px;
    }

    .navbar,
    section {
        max-width: 1400px;
        margin: auto;
    }

    .navbar {
        padding: 2.5rem;
        max-width: 1400px;
        margin: auto;
    
        .navbar-title {
            font-size: 2rem;
        }
    
        .navbar-links {
            gap: 2rem;
    
            .navbar-links__github img,
            .navbar-links__linkedin img {
                width: 30px;
                height: 30px;
            }
        }
    }
    
    .header {
        background-image: none;
        padding: 8rem 2.5rem 14rem;
        height: auto;
    
        .header-content {
            text-align: left;
    
            .header-content__title {
                font-size: 4.5rem;
                color: $white;
                padding-bottom: 4rem;
            }
    
            .header-content__about {
                font-size: 2rem;
                padding-bottom: 2.5rem;
                width: 70%;
            }
        }
    }
    
    .skills,
    .projects {
        padding: 4rem 2.5rem;
    }
    
    .skills {
        background-image: none;
    
        .skills-line-top {
            margin-bottom: 5rem;
        }
    
        .skills-line-bottom {
            margin: 5rem 0 0;
        }
    
        .skills-grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            row-gap: 7.5rem;
    
            .skills-grid__content {
    
                h3 {
                    font-size: 3rem;
                }
    
                p {
                    font-size: 1.5rem;
                }
            }
        }
    }
    
    .projects {
        
        .projects-grid {
            grid-template-columns: 1fr 1fr;
            row-gap: 7.5rem;
            column-gap: 2rem;
    
            .projects-grid__content {
                margin: auto;

                img {
                    width: 30rem;
                    height: 20rem;
                }
    
                h3 {
                    font-size: 1.75rem;
                    color: $white;
                    padding-top: 1rem;
                }
    
                p {
                    font-size: 1.125rem;
                    color: $light-grey;
                    padding-bottom: 1rem;
                }
            }
        }
    }
}